import React from "react";
import { FloroProvider } from "./floro-schema-api";


function Main() {
  return (
    <div>
      {'hello world'}
    </div>
  );
}

const App = () => {
 return (
  <FloroProvider>
    <Main/>
  </FloroProvider>
 )
}


export default App;
